<!DOCTYPE html>
<html>
<head>
    <title>Smart Fashion</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Smart Fashion Recommender</h1>
        <img src="https://praveen-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/image1.jpg" height="70px" width="70px">
        <img src="https://praveen-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/image2.jpg" height="70px" width="70px"> 
        <img src="https://praveen-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/image3.jpg" height="70px" width="70px">
        <img src="https://praveen-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/image4.jpg" height="70px" width="70px">
        <img src="https://praveen-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/image6.png" height="70px" width="70px">
    </body>
    </html>