<!DOCTYPE html>
<html>
<head>
    <title>Smart Fashion</title>
</head>
<body>
    <h1><center>SMART FASHION RECOMMENDER</center></h1>
    <link rel="stylesheet" href="style.css">
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "c275c1e6-e68b-4b85-aef7-33beeea736b3", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "5ef241c7-d72e-453c-923c-7547c485f721", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
      </body>
</html>