<!DOCTYPE html>
<html>
    <head>
        <title>Smart Fashion Recommender</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <h1>Smart Fashion Recommender</h1>
    <body>
    
    <img src="https://sathisa-bucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/hello.jpeg" width="200" height="300">
    
    <img src="https://sathisa-bucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/haii.jpeg" width="200" height="300">
    
    <img src="https://sathisa-bucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/hey.jpeg" width="200" height="350">
    
    <img src="https://sathisa-bucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/pic3.jpg" width="200" height="300">
    
    <img src="https://sathisa-bucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/gopal.jpeg" width="200" height="300">
</body>
</html>