<!DOCTYPE html>
<html>
    <head>
        <title>Bucket Image</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Images</h1>
        <img src="https://jrb-bucket2.s3.eu-gb.cloud-object-storage.appdomain.cloud/flower.jpg" width="200" height="200">
        <img src="https://jrb-bucket2.s3.eu-gb.cloud-object-storage.appdomain.cloud/love.jpg" width="200" height="200">
        <img src="https://jrb-bucket2.s3.eu-gb.cloud-object-storage.appdomain.cloud/god.jpg" width="200" height="200">
        <img src="https://jrb-bucket2.s3.eu-gb.cloud-object-storage.appdomain.cloud/nature.jpg" width="200" height="200">
        <img src="https://jrb-bucket2.s3.eu-gb.cloud-object-storage.appdomain.cloud/sea.jpg" width="200" height="200">

    </body>
    </html>
