
h1{
    font-family: cursive;
    font-size: 20;
}
body {
    background-image: url("sorry.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1370px;
   }