<!DOCTYPE html>
<html>
    <head>
        <title>SMART FASHION RECOMMENDER</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
          <h1>Images</h1>
          <img src="https://jrb-bucket1.s3.eu-gb.cloud-object-storage.appdomain.cloud/coonoor1.jpeg">
          <img src="https://jrb-bucket1.s3.eu-gb.cloud-object-storage.appdomain.cloud/dear.jpg">
          <img src="https://jrb-bucket1.s3.eu-gb.cloud-object-storage.appdomain.cloud/kodaikanal3.jpeg">
          <img src="https://jrb-bucket1.s3.eu-gb.cloud-object-storage.appdomain.cloud/kotagiri2.jpeg">
          <img src="https://jrb-bucket1.s3.eu-gb.cloud-object-storage.appdomain.cloud/valparai2.jpeg">
    </body>
    </html>