img{
    text-align: center;
    height: 250px;
    width: 250px;
}
body{
    background-image: url('img.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}